# General
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.py[co]
__pycache__/
*.so
*.DS_Store
*.env
.env.*

# Django
db.sqlite3
/media/
staticfiles/
celerybeat-schedule
*.sqlite3-journal

# If you are using Django's collectstatic:
static/

# Local development settings
local_settings.py
.env

# Django Logs
logs/
*.log

# Gunicorn logs
gunicorn.log
gunicorn.error.log
gunicorn.access.log
gunicorn.sock

# PostgreSQL
*.sql
*.backup
pgdata/

# Next.js
.next/
out/
node_modules/
package-lock.json
yarn.lock
.pnpm-debug.log

# Vercel deployment
.vercel

# Docker
*.swp
docker-compose.override.yml
docker-compose.override*.yml
.dockerignore
docker-compose*.yml
Dockerfile
.env.docker
env.docker
.env.local

# Nginx
nginx/logs/
nginx/cache/
nginx/*.pid
nginx/conf.d/*.backup

# Editor Directories and Files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# pyright and other Python type checking tools
mypy_cache/
__pycache__/
pyright/
.cache/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Linux
*~
# KDE directory preferences
.directory

# Thumbnails
*.lock
*.lock.db

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Python specific files
*.py[cod] 
__pycache__/ 
*$py.class 
*.cache 
.coverage 
coverage.xml 
.cache/ 
coverage_html_report/ 
nosetests.xml 
pylintreports/ 
pylintdata.db

# Flask instance folder
instance/

# Translations
*.mo

# Jupyter Notebook
.ipynb_checkpoints

# AWS
*.pem
